<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>

<b>Hey there!</b>

<p>Software Engineer aged 22. I have been programming for 5 years and it's my passion.</p>

<p>I like automation, simplicity, and making everything as easy to use as possible.</p>
  
<p>I also like the watching TV shows/movies, listening music, and talking with people online.</p>

<p>I can talk perfect English, read and write perfect Python, and have programmed in Java, Nim, some C and C++, and designed some pages with plain HTML and CSS.</p>

</div>